<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet">
    <title>Detail</title>
</head>
<body class="p-3 m-0 border-0 bd-example m-0 border-0">
<h3 th:text="${my.pid}+'. '+${my.titleKo}">problem id. title</h3>
<div class="container-lg">
    <form action="#" th:action="@{/update}" method="post">
        <input type="hidden" name="id" th:value="${my.id}">
        <input type="hidden" name="pid" th:value="${my.pid}">
    <div class="mb-3">
    <label for="code" class="form-label">Code</label><br>
    <textarea class="form-control form-control-lg" id="code" name="code" th:text="${my.code}" rows="50"></textarea>
</div>
<div class="mb-3">
    <label for="memo" class="form-label">Memo</label><br>
    <textarea class="form-control form-control-lg" id="memo" name="memo" th:text="${my.memo}" rows="3"></textarea>
</div>
        <input type="submit" value="수정 완료"/>
        <a href="/"><input type="button" value="뒤로 가기" />
    </form>
</div>
</body>
</html>