<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<div th:insert="~{header}"></div>

    <title>Detail</title>
</head>
<body>
<!--        class="p-3 m-0 border-0 bd-example m-0 border-0">-->
<div class="container-xl">
    <div class="d-flex align-items-center pb-3 mb-4 border-bottom">
        <span class="badge bg-primary me-2 fs-5 align-middle" style="font-size: 0.6em; vertical-align: middle;" th:text="${my.pid}">NO.</span>
        <h2 class="h4 mb-0 fw-bold text-dark me-lg-2" th:text="${my.title}">Title</h2>
        <a th:href="@{${link}}"><button type="button" class="btn btn-primary">바로가기</button></a>
    </div>
    <form action="#" th:action="@{/update}" method="post">
        <input type="hidden" name="id" th:value="${my.id}">
        <input type="hidden" name="pid" th:value="${my.pid}">
    <div class="mb-3">
    <label for="code-editor" class="form-label">Code</label><br>
        <textarea class="form-control form-control-lg" id="code-editor" name="code" th:text="${my.code}"></textarea>
    </div>
    <div class="mb-3">
        <label for="memo-editor" class="form-label">Memo</label><br>
        <textarea class="form-control form-control-lg" id="memo-editor" name="memo" th:text="${my.memo}" rows="3"></textarea>
    </div>
        <button type="submit" class="btn btn-primary">작성 완료</button>
        <a th:href="'/solve/'+${my.pid}"><button type="button" class="btn btn-warning">뒤로 가기</button>
    </form>
</div>
</body>
<div th:insert="~{footer}"></div>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.13/codemirror.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.13/theme/dracula.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.13/codemirror.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.13/mode/clike/clike.min.js"></script> ```
<script th:src="@{/JS/codeeditor.js}"></script>
<link rel="stylesheet" th:href="@{/css/editor-style.css}">
<link rel="stylesheet" th:href="@{/css/memo-style.css}">
</html>