<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<div th:insert="~{header}"></div>
    <title>Coding Test Records</title>
</head>
<body>
<div class="container-xl">
<table class="table border-dark">
    <thead>
    <tr>
        <th class="col-1 text-center p-2">No.</th>
        <th class="col-9 text-center p-2">제목</th>
        <th class="col-9 text-center p-2">풀이 현황</th>
    </tr>
    </thead>
    <tbody class="table-group-divider">
    <tr th:each="problem: ${my}">
        <th class="text-center p-2"><a th:href="@{'/solve/'+${problem.pid}}"><button type="button" class="btn btn-link" th:text="${problem.pid}">problemid</button></a></th>
        <td class="p-2"><a th:href="@{'/solve/'+${problem.pid}}"><button type="button" class="btn btn-link" th:text="${problem.title}">title</button></a></td>
        <div th:switch="${problem.status}">
            <td class="p-2 text-center align-middle" th:case="0"><span class="badge text-bg-primary fs-6">풀이 전</span></td>
            <td class="p-2 text-center align-middle" th:case="1"><span class="badge text-bg-secondary fs-6">풀이 중</span></td>
            <td class="p-2 text-center align-middle" th:case="2"><span class="badge text-bg-success fs-6">풀이 완료</span></td>
            <td class="p-2 text-center align-middle" th:case="3"><span class="badge text-bg-danger fs-6">미해결</span></td>
        </div>
    </tr>
    </tbody>
</table>
<a href="/search"><input type="button" value="문제 추가" />
<p><a href="/list"><input type="button" value="전체 문제"/></a></p>
</div>
</body>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>

</html>