<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Coding Test Records</title>
    <p id="un" class="navbar-text pull-right" th:text="${currentUserName}">
        sample_user
    </p>
    <form class="navbar-form pull-right" th:action="@{/logout}" method="post">
        <input type="hidden" name="logout" value="logout" />
        <input type="submit" value="Log out" />
    </form>
</head>
<body>
<table>
    <thead>
    <tr >
        <th >ID</th>
        <th >Title</th>
        <th >Link</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="question: ${my}">
        <td th:text="${question.id}"></td>
        <td th:text="${question.title}"></td>
        <td><a th:href="${question.url}" th:text="이동"></a></td>
    </tr>
    </tbody>
</table>
<a href="/search"><input type="button" value="문제 추가" />
<p><a href="/list"><input type="button" value="전체 문제"/></a></p>
    <form action="#" th:action="@{/time}" method="post">
        <li th:each="times: ${times}" th:text="${times}"></li>
        <input type="submit" value="시간 추가" />
    </form>
</body>
</html>