<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<div th:insert="~{header}"></div>
</head>
<body>
<table>
    <thead>
    <tr class="row">
        <th>ID</th>
        <th>Title</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="question: ${questions}">
        <td  th:text="${question.id}"></td>
        <td><a th:href="${question.url}" th:text="${question.title}"></a></td>
    </tr>
    </tbody>
</table>
<p><a href="/add"><input type="button" value="항목 추가" /></a></p>
<p><a href="/"><input type="button" value="뒤로 가기" /></a></p>
</body>
</html>