<!DOCTYPE HTML>
<!--<html xmlns:th="https://www.thymeleaf.org">-->
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<div th:insert="~{header}"></div>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<div class="container-xl">
<form action="#" th:action="@{/searchcomplete}" method="get">
    <h1 class="mb-0 fw-bold text-dark">문제 검색</h1><br>
    <div class="mb-3">
    <p>검색: <input type="text" name="word" th:value="${word}"/></p>
        <p>문제 번호의 일부 혹은 제목의 일부를 적어주세요.</p>
    <button type="submit" class="btn btn-primary">검색</button>
        <a href="/"><button type="button" class="btn btn-warning">뒤로 가기</button></a><br>
</form>
    <table class="table border-dark" th:if="${problems != null}">
        <thead>
        <tr>
            <th class="col-1 text-center p-2">No.</th>
            <th class="col-9 text-center p-2">제목</th>
            <th class="col-1 text-center p-2"></th>
        </tr>
        </thead>
        <tbody class="table-group-divider">
        <tr th:each="problem: ${problems}">
            <form action="#" th:action="@{/added}" method="post">
                <input type="hidden" name="id" th:value="${problem.problemid}"/>
                <td class="col-1 text-center p-2 align-middle" th:text="${problem.problemid}">ID</td>
                <td class="col-9 p-2 align-middle" th:text="${problem.titleKo}">Title</td>
                <td class="col-1 p-2" th:if="${problem.userid == null}"><button type="submit" class="btn btn-primary">추가</button></td>
                <td class="col-1 p-2" th:unless="${problem.userid == null}"><a th:href="@{'/solve/'+${problem.problemid}}"><button type="button" class="btn btn-primary">이동</button></a></td>
            </form>
        </tr>
        </tbody>
    </table>
</div>
</body>
<div th:insert="~{footer}"></div>
<link rel="stylesheet" th:href="@{/css/container.css}">
</html>