<!DOCTYPE HTML>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <title>Search Problems</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<h1>Form</h1>
<form action="#" th:action="@{/searchcomplete}" method="get">
    <p>검색: <input type="text" name="word" th:value="${word}"/></p>
    <p><input type="submit" value="검색" /> <input type="reset" value="Reset" /></p>
</form>
<table>
    <thead>
    <tr>
        <th >No.</th>
        <th >Title</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="question: ${questions}">
        <form action="#" th:action="@{/added}" method="post">
            <input type="hidden" name="id" th:value="${question.id}"/>
            <td th:text="${question.id}"></td>
            <td th:text="${question.title}"></td>
            <td><input type="submit" value="추가"/></td>
        </form>
    </tr>
    </tbody>
</table>
<p><a href="/"><input type="button" value="뒤로 가기" /></p>
</body>
</html>