<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<div th:insert="~{header}"></div>
</head>
<body>
<div class="container-xl">
    <div class="d-flex align-items-center pb-3 mb-4 border-bottom">
        <span class="badge bg-primary me-2 fs-5 align-middle" style="font-size: 0.6em; vertical-align: middle;" th:text="${pid}">NO.</span>
        <h2 class="h4 mb-0 fw-bold text-dark me-lg-2" th:text="${problemtitle}">Title</h2>
        <a th:href="@{${link}}"><button type="button" class="btn btn-primary">바로가기</button></a>
    </div>
    <div class="pb-3 mb-4 border-bottom">
    <p>1. 문제를 풀기 전 '풀이 시작'을 눌러 주시고, '바로가기'의 백준 사이트에서 코드 제출 후 '맞았습니다!!'를 확인하고 '풀이 완료'를 눌러주세요.</p>
    <p>2. '미해결'은 재량에 따라 추가로 학습이 필요하다고 생각되면 눌러주세요.</p>
    <p>3. 문제를 다시 풀고 싶다면 '재시도'를 눌러주세요.</p>
    <p>Tip. 테스트 케이스가 막히는 경우에도 백준 사이트 코드 제출 전에 코드를 저장하여 무엇이 부족했는지 기록을 남길 수 있습니다.</p>
    </div>
<table class="table border-dark">
    <thead>
    <tr >
        <th class="col-1 text-center p-1">No.</th>
        <th class="col-2 text-center p-1">풀이 시작</th>
        <th class="col-2 text-center p-1">풀이 종료</th>
        <th class="col-1 text-center p-1">풀이 시간(분)</th>
        <th class="col-1 text-center p-1">풀이 시간</th>
        <th class="col-2 text-center p-1">상세 보기</th>
        <th class="col-1 text-center p-1">풀이 현황</th>
        <th class="col-2 text-center"></th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="my, stat: ${my}">
        <th class="col-1 text-center align-middle"><a th:href="@{'/solve/'+${my.pid}+'/'+${my.id}}"><button type="button" class="btn btn-link" th:text="${stat.size - stat.count + 1}">No.</button></a></th>
        <td class="col-2 text-center p-2 align-middle" th:text="${my.st}">-</td>
        <td class="col-2 text-center p-2 align-middle" th:text="${my.end}">-</td>
        <td class="col-1 text-center p-2 align-middle" th:text="${my.duration}">-</td>
        <td class="col-1 text-center p-2 align-middle" th:if="${my.duration != null}" th:text="${my.hour == 0}? ${my.duration}%60+분 : ${my.hour}+'시간 '+${my.duration}%60+분">-</td>
        <td class="col-1 text-center p-2 align-middle" th:if="${my.duration == null}"></td>
        <td class="col-2 text-center p-2 align-middle"><a th:href="@{'/solve/'+${my.pid}+'/'+${my.id}}"><button type="button" class="btn btn-success">상세 보기</button></a></td>
<!--        <td class="col-1 text-center p-3 align-middle" th:unless=${my.hour == 0} th:text="${my.duration}%60">-</td>-->
        <div th:switch="${my.status}">
            <td class="col-1 text-center p-3 align-middle" th:case="0"><span class="badge text-bg-primary fs-6">풀이 전</span></td>
            <td class="col-1 text-center p-3 align-middle" th:case="1"><span class="badge text-bg-secondary fs-6">풀이 중</span></td>
            <td class="col-1 text-center p-3 align-middle" th:case="2"><span class="badge text-bg-success fs-6">풀이 완료</span></td>
            <td class="col-1 text-center p-3 align-middle" th:case="3"><span class="badge text-bg-danger fs-6">미해결</span></td>
        </div>
<!--        <form action="#" th:action="@{/solve/timelaps}" method="post">-->
<!--            <input type="hidden" name = "pid" th:value="${my.pid}"/>-->
<!--            <input type="hidden" name = "status" th:value="${my.status}"/>-->
            <div th:switch="${my.status}">
<!--                <input type="hidden" name="id" th:value="${my.id}">-->
                <td class="col-2 align-middle text-center" th:case="0">
                    <button type="button" value="풀이 시작" class="btn btn-primary" th:onclick="timeLaps([[${my.id}]], [[${my.status}]], 0)" >풀이 시작</button>
                <td class="col-2 align-middle text-center" th:case="1">
                    <button type="submit" name="complete" value="true" class="btn btn-success" th:onclick="timeLaps([[${my.id}]], [[${my.status}]], 1)">풀이 성공</button>
                    <button type="submit" name="complete" value="false" class="btn btn-danger" th:onclick="timeLaps([[${my.id}]], [[${my.status}]], 0)">미해결</button>
                <td class="col-2 align-middle text-center" th:case="*"></td>
            </div>
<!--        </form>-->
    </tr>
    </tbody>
</table>

<!--    <form action="#" th:action="@{/solve/add}" method="post">-->
<!--        <input type="hidden" name="pid" th:value="${pid}">-->
<!--        <input type="submit" value="풀이 추가" />-->
<!--    </form>-->
    <div style="display: flex; justify-content: space-between;">
        <a href="/home"><input type="button" value="뒤로 가기" /></a>
<!--        <form action="#" th:action="@{/solve/solveadd}" method="post">-->
<!--            <input type="hidden" name = "pid" th:value="${pid}"/>-->
        <button type="button" class="btn btn-primary" th:if="${status} == 2 or ${status} == 3" th:onclick="solveAdd([[${currentUserName}]], [[${pid}]])">재시도</button>
<!--        </form>-->
    </div>
    <script src="/js/system.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>
</a>
</div>
<div th:insert="~{footer}"></div>
</body>
</html>