<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<div th:insert="~{header}"></div>
</head>
<body>
<div class="container-xl">
    <div class="d-flex align-items-center pb-3 mb-4 border-bottom">
        <span class="badge bg-primary me-2 fs-5 align-middle" style="font-size: 0.6em; vertical-align: middle;" th:text="${problemid}">NO.</span>
        <h2 class="h4 mb-0 fw-bold text-dark" th:text="${problemtitle}">Title</h2>
        <a th:href="@{${link}}"><button type="button" class="btn btn-primary">바로가기</button></a>
    </div>
<table class="table border-dark">
    <thead>
    <tr >
        <th class="col-1 text-center p-1">No.</th>
        <th class="col-2 text-center p-1">풀이 시작</th>
        <th class="col-2 text-center p-1">풀이 종료</th>
        <th class="col-1 text-center p-1">풀이 시간</th>
        <th class="col-1 text-center p-1">풀이 현황</th>
        <th class="col-2 text-center"></th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="my, stat: ${my}">
        <th class="col-1 text-center align-middle"><a th:href="@{'/solve/'+${my.pid}+'/'+${my.id}}"><button type="button" class="btn btn-link" th:text="${stat.count}">nO.</button></a></th>
        <td class="col-2 text-center p-3 align-middle" th:text="${my.st}">-</td>
        <td class="col-2 text-center p-3 align-middle" th:text="${my.end}">-</td>
        <td class="col-1 text-center p-3 align-middle" th:text="${my.duration}">-</td>
        <div th:switch="${my.status}">
            <td class="col-1 text-center p-3 align-middle" th:case="0"><span class="badge text-bg-primary fs-6">풀이 전</span></td>
            <td class="col-1 text-center p-3 align-middle" th:case="1"><span class="badge text-bg-secondary fs-6">풀이 중</span></td>
            <td class="col-1 text-center p-3 align-middle" th:case="2"><span class="badge text-bg-success fs-6">풀이 완료</span></td>
            <td class="col-1 text-center p-3 align-middle" th:case="3"><span class="badge text-bg-danger fs-6">미해결</span></td>
        </div>
        <form action="#" th:action="@{/solve/timelaps}" method="post">
            <input type="hidden" name = "pid" th:value="${my.pid}"/>
            <input type="hidden" name = "status" th:value="${my.status}"/>
            <div th:switch="${my.status}">
                <input type="hidden" name="id" th:value="${my.id}">
                <td class="col-2 align-middle text-center" th:case="0">
                    <button type="submit" value="풀이 시작" class="btn btn-primary">풀이 시작</button>
                <td class="col-2 align-middle text-center" th:case="1">
                    <button type="submit" name="complete" value="true" class="btn btn-success">풀이 성공</button>
                    <button type="submit" name="complete" value="false" class="btn btn-danger">미해결</button>
                <td class="col-2 align-middle text-center" th:case="*"></td>
            </div>
        </form>
    </tr>
    </tbody>
</table>

<!--    <form action="#" th:action="@{/solve/add}" method="post">-->
<!--        <input type="hidden" name="pid" th:value="${pid}">-->
<!--        <input type="submit" value="풀이 추가" />-->
<!--    </form>-->
    <div style="display: flex; justify-content: space-between;">
        <a href="/home"><input type="button" value="뒤로 가기" /></a>
        <form action="#" th:action="@{/solve/solveadd}" method="post">
            <input type="hidden" name = "pid" th:value="${pid}"/>
        <button type="submit" class="btn btn-primary">재시도</button>
        </form>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>
</a>
</div>
</body>
</html>