<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Solving Problems</title>
</head>
<body>
<table>
    <thead>
    <tr >
        <th >ID</th>
        <th >Title</th>
        <th >Link</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="question: ${my}">
        <td th:text="${question.num}"></td>
        <td th:text="${question.title}"></td>
    </tr>
    </tbody>
</table>
<a href="/search"><input type="button" value="문제 추가" />
<p><a href="/list"><input type="button" value="전체 문제"/></a></p>
    <form action="#" th:action="@{/time}" method="post">
        <li th:each="times: ${times}" th:text="${times}"></li>
        <input type="submit" value="시간 추가" />
    </form>
</body>
</html>